body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDF0F5;
}

#page {
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
}

a {
    color: #365CB2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

ul li {
    list-style: none;
}

/* Main Css */

#page .container {
    width: 58%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

#left-container {
    margin: 55px auto;
}

#right-container {
    margin: 20px auto;
}